<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"/>
    <script src="/static/js/toastr.min.js"></script>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link href="https://fonts.font.im/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.font.im/css?family=Roboto" rel="stylesheet">
</head>

<body>
<div class="login-main">
    <div class="slogan">
        <P id="neon-slogan">cyberpunk
            <br>
            shop
        </P>
        <p id="broken-neon-slogan">
            join&nbsp;&nbsp;us&nbsp;&nbsp;now!
        </p>
    </div>
    <div class="login-container">
        <div class="logo">
            <img src="../static/images/x_touxiang.png" alt="LOGO" height="150px" width="150px">
        </div>
        <div class="login-title">
            <p class="digit-p">>LOGIN<</p>
        </div>
        <div class="form-wrapper">

            <form class="login-form">
                <div class="input-field">
                    <input type="text" id="username" placeholder="ID">
                </div>
                <div class="input-field">
                    <input type="text" id="password" placeholder="PassWord">
                </div>
                <p style="padding: 11px 10px 12px;"></p>
                <input class="login-style-button" type="button" value="登录" onclick="login()">
                <p id="log-message">
                    Don`t have an account?
                    <a href="/register">Register an account!</a>
                </p>
            </form>
        </div>
        <div class="fluorescence fluorescence-filter"></div>
        <div class="fluorescence fluorescence-border"></div>
    </div>
</div>

<footer class="site-footer-style">
    <div class="SiteFooterStyles_copyright">
        <P>
            本网站由同济大学软件学院徐炳昌1850953制作
            <br>

        </P>
        <p>
            ©CYBER-SHOP 2020, powered by MEMEMEMEME THX.
            <br>
            本站转载的图片等各类内容版权归作者及来源网站所有，本站原创内容转载请注明来源
            <br>
            商业媒体及纸媒请先联系：1850953@tongji.edu.cn
        </p>
    </div>
</footer>
{#<label>用户名：</label><input type="text" id="username"><br>#}
{#<label>密 码：</label><input type="password" id="password"><br>#}
{#<input type="button" value="登录" onclick="login()">#}

</body>

</html>